.conteiner-info {
    @extend %container;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap:  139px;
    margin-top: 194px;
}
.conteiner-info__img-left {
    
    grid-column: 1/ 2;
    grid-row: 1/ 2;
    position: relative;

}

.conteiner-info__photo-left__cup {
    max-width: 364px;
    top: 77px;
    left: 28px;
    position: absolute;
    z-index: 2;

}
.conteiner-info__photo-left__line {
    top: -25px;
    left: 0;
    position: absolute;
    z-index: 2;
}
.conteiner-info__about-us-top {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.conteiner-info__title {

font-family: Josefin_Sans;
font-size: 38px;
font-weight: 700;
line-height: 38px;
text-align: left;

}

.conteiner-info__about-us-bottom {
    
    grid-column: 1 / 3;
    grid-row: 2/ 3;
}

.conteiner-info__about-us-bottom__paragraph, .conteiner-info__about-us-top__paragraph  {
    font-family: AlegreyaSans;
    font-size: 19px;    
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.001em;
    text-align: left;
}
.conteiner-info__img-right {
    
    grid-column: 3 / 4;
    grid-row: 2/ 3;
    position: relative;
    margin: 30px 0 0 103px;
}
.conteiner-info__photo-right__background {
    width: 410px;
height: 276px;

}

.conteiner-info__photo-right__cup {
    top: -25px;
    left: 72px;
    position: absolute;
    z-index: 2;
}
.conteiner-info__photo-right__line {
    position: absolute;
    z-index: 2;
    margin-top: -25px;
    margin-left: -25px;
 


}

.content-first__right__social__img__follow {
    max-width: 28px;
    max-height: 109px;
}
@media (max-width: 375px) {
.conteiner-info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 0;

}
.conteiner-info__photo-right__line , .conteiner-info__photo-left__line {
    display: none;
}
.conteiner-info .carousel__btn-element {
    display: none;
}
.conteiner-info__img-left {
    order: 1;
}
.conteiner-info__about-us-top {
    margin-top: 30px;
    order: 2;
}
.conteiner-info__about-us-bottom {
    margin-top: 30px;
    order: 4;
}
.conteiner-info__img-right {
    
    margin-top: 96px;
    margin-left: 0;
    order: 3;
}
.conteiner-info__photo-left__cup {
    left: 0;
    top: 7px;
}
}