
.content-first {
    @extend %container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 63px;
}

.content-first__right{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-first__right__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-items: end;
    position: relative;
    z-index: 1;
}
.content-first__right__img__coffee {
    position: absolute;
    z-index: 2;
    max-width: 344px;
    max-height: 373px;
    top: 140px;
    left: 197px;

}
.content-first__right__img__vector {
    position: absolute;
    z-index: 2;
    max-width: 25px;
    max-height: 6px;
    left: 67px;
    top: 387px;

}

.content-first__right__social {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin: 30px;
}

.content-first__right__social__img__follow {
    transform: rotate(-90deg);
}

.content-first__main-paragraph {
    font-family: Cedarville Cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 53.1px;
    text-align: left;
}
.content-first__title {
    font-family: Josefin_Sans;
    font-size: 63px;
    font-weight: 700;
    line-height: 63px;
    text-align: left;
}
.content-first__right__social__img {
    max-width: 32px;
}
.content-first__btn {
    min-width: 235px;
    min-height: 54px;
    font-family: George Round;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.02px;
    text-align: center;
    background-color: #2D635E;
    color: #FFFFFF;
    border-radius: 5px;


}
.content-first__btn-img {
    display: none;
}

@media (max-width: 375px) {

    .content-first__btn-img {
        display: inline-block;
    }
    .content-first {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        margin-left: 0; 
    }
.content-first__left {
    display: flex;
    max-width: 375px;
    flex-direction: column;
    align-items: center;
}

.content-first__main-paragraph{
    font-family: Cedarville Cursive;
    font-size: 19px;
    font-weight: 400;
    line-height: 36.03px;
    text-align: center;

}
.content-first__title{
    font-family: Josefin_Sans;
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;

}

.content-first__right {
    display: none;
}

}

@media screen and (max-width: 767px) {
   
  }

  @media screen and (max-width: 1200px) {
    .content-first {
        display: flex;
    }
    .content-first__right {
        // display: none;
    }
    .content-first__left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
  }


  @media screen and (min-width: 1400px) {
 
  }