

.header {
  @extend %container;
  margin-top: 50px;
}
.hamburger-menu {
    display: flex;
    justify-content: space-between;
    
}
.header__menu__img {
  display: none;
}
.header__menu__logo {
    display: none;
}
.header__menu {
    text-decoration: none;
}
.header__menu-element {
  @include font_header;
  text-decoration: none;
  padding-left: 77px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.header__menu-element:hover {
  text-decoration: underline;
}

.header__menu-element_bold {
    padding-left: 90px;
    font-family: Josefin_Sans_Bold;
}
.header__btn-element {
    @include btn;
    width: 135px;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    border-radius: 5px;
    margin-left: 44px;   
}
.header__btn-element:hover {
  transform: scale(1.1);
  font-size: 18px;
}

#menu__toggle, .hamburger-menu__btn {
    display: none;
}


/////////////////////////////////////// media
@media (max-width: 875px){

    .header {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      
    }
 .hamburger-menu {
    position: fixed;
    z-index: 7;
    width: 100%;
    padding: 0 0 20px 0;
    background-color: white;
    box-shadow: 0px 19px 53px 3px rgba(34, 60, 80, 0.1);

 }

//  бургер

#menu__toggle {
    display: none;
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .hamburger-menu__btn > span {
    transform: rotate(45deg);
    margin-top: 56px;
    margin-left: 290px;
  }
  #menu__toggle:checked ~ .hamburger-menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .hamburger-menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }


  #menu__toggle:checked ~ .header__menu {
    visibility: visible;
    left: 0;
  }
  .header__menu__img {
    display: inline-block;
    padding: 65px 0 65px;
    max-width: 45px;
  }
  .header__logo {
    position: relative;
    width: 160px;
    height: 33px;
    margin-top: 28px;
    margin-left: 88px;
  }
  .header__btn-element {
    display: none;
  }


  .header__menu__logo {
    display: flex;
    position: relative;
    width: 162px;
    height: 34px;
    margin: 50px 0 91px 106px;
   
  }
  .hamburger-menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 30px;
    margin-left: 18px;
    width: 27px;
    height: 21px;
    z-index: 6;
  }

  .hamburger-menu__btn > span,
  .hamburger-menu__btn > span::before,
  .hamburger-menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;

  }
  .hamburger-menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .hamburger-menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .header__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    text-align: center;
    margin-top: 0;
    left: -100%;
    width: 375px;
    height: 100%;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 5;
  }
  
  .header__menu-element{
    display: block;
    padding: 25px 0 25px;
    color: #333;
    font-family: Josefin_Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }
  .header__menu-element:hover {
    background-color: #CFD8DC;
  }
}   
@media screen and (max-width: 1200px) {
  .header__menu-element {
    padding-left: 27px;
  }
  .header__menu-element_bold {
    padding-left: 30px;
  }
}
