

  .header {
    max-width: 1200px;
    margin: 39px 120px 52px 120px;
}
.hamburger-menu {
    display: flex;
    justify-content: space-between;
    
}
.header__menu__img {
  display: none;
}
.header__menu__logo {
    display: none;
}
.header__menu {
    text-decoration: none;
}
.header__menu-element {
    @include font_header;
    text-decoration: none;
    padding-left: 77px;
}
.header__menu-element_bold {
    padding-left: 90px;
    font-family: Josefin_Sans_Bold;
}
.header__btn-element {
    @include btn;
    width: 135px;
    height: 43px;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 44px;   
}
#menu__toggle, .hamburger-menu__btn {
    display: none;
}


/////////////////////////////////////// media
@media (max-width: 375px){

    .header {
    display: flex;
    margin: 0; 
    justify-content: flex-start;
    }
 

//  бургер

#menu__toggle {
    display: none;
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .hamburger-menu__btn > span {
    transform: rotate(45deg);
    margin-top: 56px;
    margin-left: 290px;
  }
  #menu__toggle:checked ~ .hamburger-menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .hamburger-menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }


  #menu__toggle:checked ~ .header__menu {
    visibility: visible;
    left: 0;
  }
  .header__menu__img {
    display: inline-block;
    max-width: 45px;
  }
  .header__logo {
    position: relative;
    width: 160px;
    height: 33px;
    margin-top: 28px;
    margin-left: 88px;
  }
  .header__btn-element {
    display: none;
  }
  .header__menu__logo {
    display: flex;
    position: relative;
    width: 162px;
    height: 34px;
    margin: 50px 0 91px 106px;
   
  }
  .hamburger-menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 30px;
    margin-left: 18px;
    width: 27px;
    height: 21px;
    z-index: 6;
  }

  .hamburger-menu__btn > span,
  .hamburger-menu__btn > span::before,
  .hamburger-menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;

  }
  .hamburger-menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .hamburger-menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .header__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    text-align: center;
    margin-top: 0;
    left: -100%;
    width: 375px;
    height: 100%;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 5;
  }
  
  .header__menu-element{
    display: block;
    padding: 0 0 70px;
    color: #333;
    font-family: Josefin_Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  }
  .header__menu-element:hover {
    background-color: #CFD8DC;
  }
}   